p {
    font-size: 17px;
}

.img {
    margin-top: 300px;
    margin-left: 200px;
}

.interests {
    margin-left: 600px;
    display: inline-block;
    font-size: large;
    color: #ffd700;
    width: 700px;
}
.Headshot {
    width: 200px;
    margin-top: -300px;
    margin-left: 600px;
    border-style: groove;
    border-width: 5px;
    border-color: #ffd700;
    border-radius: 5%;
}

h3 {
    display: inline-block;
    height: 20px;
}

.skills {
    margin-left: 100px;
    display: inline-block;
    font-size: x-large;
    color: #ffd700;
    width: 700px;
   
}

